<!doctype html>
<h1>Madpy Recommendation Engine</h1>

<form method=POST>
  Enter your screen name to see your recommendations.<br>
  <input type="text" name="screen_name">
  <input type="submit" value="Go"><br>
</form>

{% if recommendations %}
  <p><em>{{ screen_name }}</em>, you might also like:</p>
  {{ recommendations | safe }}
{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message | safe }}</li>
    {% endfor %}
  </ul>
  {% endif %}
{% endwith %}
